<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      JavaScript Online Compiler
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false">
  <ion-segment *ngIf="isMobile" [value]="segmentValue" (ionChange)="getEditorOutputSegmentValue($event)">
    <ion-segment-button [value]="javaScriptSegmentValue">
      <ion-label>JavaScript</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="outputSegmentValue">
      <ion-label>Output</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col class="col-left">
        <ion-list *ngIf="!isMobile">
          <ion-item lines="none">
            <ion-label>JavaScript</ion-label>
            <ion-button color="primary" (click)="executeCode()">
              <ion-icon name="caret-forward-sharp"></ion-icon>
              <ion-text>Run</ion-text>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col class="col-right">
        <ion-list *ngIf="!isMobile">
          <ion-item lines="none">
            <ion-label>Output</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="editor-output">
      <ion-col *ngIf="!isMobile || isEditorView" class="col-left">
        <div>
          <div #editor class="editor">
          </div>
        </div>
      </ion-col>
      <ion-col *ngIf="!isMobile || !isEditorView" class="col-right">
        <div class="output">
          <div *ngFor="let line of output">
            <p *ngIf="line.logType === 'log'" class="log-console">
              {{line.text}}
            </p>
            <p *ngIf="line.logType === 'warn'" class="warn-console">
              {{line.text}}
            </p>
            <p *ngIf="line.logType === 'info'" class="info-console">
              {{line.text}}
            </p>
            <p *ngIf="line.logType === 'debug'" class="debug-console">
              {{line.text}}
            </p>
            <p *ngIf="line.logType === 'error'" class="error-console">
              {{line.text}}
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab *ngIf="isMobile" vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="primary" (click)="evalMobile()">
      <ion-icon name="caret-forward-sharp"></ion-icon>
      <ion-text>Run</ion-text>
    </ion-button>
  </ion-fab>
</ion-content>