/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ion-header {
    height: 102px;
    text-align: center center;
  }

  ion-toolbar {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  ion-label {
    padding-left: 20px;
  }

  ion-list {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .col-left {
    border-right: 1px;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-style: solid
  }

  .col-right {
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-right: 0px;
    border-style: solid;
  }

  .editor {
    height: calc(100vh - 180px);
  }

  .output {
    height: calc(100vh - 180px);
    background-color: white;
  }
}

.editor-output {
  height: 100%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .editor {
    height: calc(100vh - 140px);
  }

  .output {
    height: calc(100vh - 140px);
    background-color: white;
  }
}

.log-console {
  font-family: monospace;
  color: black;
}

.warn-console {
  font-family: monospace;
  color: blue;
}

.info-console {
  font-family: monospace;
  color: green;
}

.debug-console {
  font-family: monospace;
  color: orange;
}

.error-console {
  font-family: monospace;
  color: red;
}